$fontColor: rgba(0, 0, 0, 0.712);
$fontSize: 0.9rem;

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    
}

.gridContainer {
    background-color: rgb(220, 228, 228);
    border-radius: 20px;
    overflow: hidden;
    margin: 3vh 5vw;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    


}

.imgContainer {
    width: 300px;
    height: 94vh;
    background: url(/assets/background3.jpg);
    background-size:cover;
    grid-row: span 3;
    align-self: stretch;
    align-items: center;

    p {
        margin-top: 90vh;
        color: rgba(255, 255, 255, 0.8);
        text-align:center;
        font-size: small;

        a {
            color: rgb(100, 199, 245);
        }
    }
}

.formHeader {
    align-self:flex-end;
    margin-left: 20px;
    color: rgba(0, 0, 0, 0.733);
}


.formContainer {
   
    background-color: rgb(243, 235, 225);
    box-shadow: 5px 1px 3px rgb(143, 136, 136);
    padding: 5px;
    height: 210px;

    h4 {
        margin-top: 15px;
        margin-left: 20px;
        color:rgb(54, 54, 54);
    }

    .liContainer {
        padding-left: 20px ;

        list-style:none;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height:150px;
    }

    li {
        width: 50%;
    }

    input {
        border-radius: 3px;
        border: 1px solid gray;
        margin-bottom: 5px;
        height: 22px;
    }

    span {
        position: relative;
    }
    

    input:hover {
        box-shadow: 1px 1px 3px rgba(20, 20, 20, 0.473);
    }

    input:focus {
        outline-color:  rgb(199, 177, 54);
    }

    input:invalid {
        border: 1px solid red;
    }
    input:invalid ~ span::after {
        font-size: 0.55rem;
        content: '❌';
        position:absolute;
        top:4.5px;
        left: 3px;
    }

    input:valid ~ span::before {
        font-size:1.1rem;
        content: '✓';
        color: green;
        position: absolute;
        left: 2px;

    }

    input:indeterminate ~ span::after {
        content: '';
    }

    label {
        font-size: $fontSize;
        color: $fontColor;
        display: block;
        padding: 0px;
    }

}

.buttonContainer {
    margin-left: 20px;
}



